{% extends '::base.html.twig' %}
{% block body %}
    <div style="display: grid; justify-content: center; align-content: center;grid-gap:30px;height: 90vh">
        {% block content %}
        {% endblock content %}
    </div>
{% endblock body %}
{% block javascripts %}
    <script src="https://code.iconify.design/1/1.0.3/iconify.min.js"></script>
{% endblock javascripts %}