{% extends 'AppBundle::layout.html.twig' %}
{% block content %}

    {% include 'AppBundle:Board:board.html.twig' with grid %}

    <span style="text-align: center">end: {{ message }}</span>
    <a href="{{ path('start') }}" style="text-align: center">start</a>

{% endblock content %}

