{% extends 'AppBundle::layout.html.twig' %}
{% block content %}
    <div class="messages">
        {% for msg in messages %}
            <div class="message">{{ msg }}</div>
        {% endfor %}
    </div>

    {% include 'AppBundle:Board:board.html.twig' with grid %}
    {% include 'AppBundle:Board:currentPlayer.html.twig' with grid %}
    <a href="/start" style="text-align: center">reset</a>
{% endblock content %}